# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
log/*
*/logs/*
cache/*
*/cache/*
web/uploads/*
web/bundles/*
web/media/*
web/albums/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# phar
composer.phar
symfttpd.phar
