::-webkit-input-placeholder { color:#aaaaaa!important; font-style: italic; }
::-moz-placeholder { color:#aaaaaa!important; font-style: italic; } /* firefox 19+ */
input:-moz-placeholder { color:#aaaaaa!important; font-style: italic; }

button::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
    border:0;
    padding:0;
}

body {
    background: white url(../images/bg.jpg) repeat center center;
    width: 100%;
    height: 100%;
}

.hidden { display: none; }
.floatL { float: left; }
.floatR { float: right; }
.smallText { font-size: 11px; }


/*
 * POPIN
 */

.popin {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 40px;
    box-shadow: 1px 1px 12px #555;
    text-align: center;
}
.popin form { margin-top: 35px; }
.popin li { list-style-type: none; padding: 10px; }
.popin input[type=text], .popin input[type=password], .popin input[type=email], .popin input[type=password] {
    border: 1px solid #D9E1E7;
    color: #54555A;
    width: 260px;
    padding: 10px 10px 10px 32px;
    margin: 0;
    outline: medium none;
    transition-duration: 0.25s;
    border-radius: 5px;
    background-color: #eeeeee;
    background-position: 9px center;
    background-repeat: no-repeat;
    background-size: 16px auto;
}
.popin input[type=text] { background-image: url(../images/pack/16x16_benutzer.png); }
.popin input[type=password] { background-image: url(../images/pack/16x16_schloss.png); }
.popin input[type=email] { background-image: url(../images/pack/16x16_mail_1.png); }
.popin input[type=submit] {
    background-color: #6AC13D;
    border: 1px solid #D9E1E7;
    border-radius: 5px;
    padding: 10px;
    height: 39px;
    display: inline-block;
    color: #eeeeee;
    font-weight: bold;
}
.popin li a:last-child { text-align: right; float: right; }
.popin li a:first-child { text-align: left; float: left; }
.popin .button { width: 260px; margin: 0 auto; }

@media screen and (max-width: 430px) {
    .popin {
        border-radius: 0;
        width: 100%;
        margin-left: -50%;
    }
}


/*
 * LOGIN
 */

.login {
    width: 400px;
    height: 200px;
    margin:  -100px 0 0 -200px;
}
.popin.login input[type=password] {
    width: 232px;
    border-radius: 5px 0 0 5px;
    border-right-width: 0;
}
.login input[type=submit] {
    width: 30px;
    border-radius: 0 5px 5px 0;
    border-left-width: 0;
}
.login input.error { border-color: #E21B19 !important; box-shadow: 0 0 10px rgba(212, 82, 82, 0.8); }


/*
 * REGISTRATION
 */

.registration {
    width: 400px;
    height: 356px;
    margin: -178px 0 0 -200px;
}

.registration input[type=submit] {
    float: right;
}

@media screen and (max-height: 420px) {
    .popin.registration{
        border-radius: 0;
        height: 420px;
        margin-top: -210px;
    }
    .popin.registration form {
        margin-top: 70px;
    }
}

.account, a.account:hover {
    background-image: url(../images/pack/16x16_benutzer.png);
    background-position: 0 center;
    padding-left: 20px!important;
    background-repeat: no-repeat;
    background-size: 16px auto;
}
