html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

/* HEADER */

#topBar {
    position:fixed;
    z-index:5;
    width:100%;
    min-height:30px;
    left:0;
    top:0;
    background-color:#f1f1f1;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#e4e4e4));
    background-image:-webkit-linear-gradient(top,#f1f1f1,#e4e4e4);
    background-image:-moz-linear-gradient(top,#f1f1f1,#e4e4e4);
    background-image:-ms-linear-gradient(top,#f1f1f1,#e4e4e4);
    background-image:-o-linear-gradient(top,#f1f1f1,#e4e4e4);
    background-image:linear-gradient(top,#f1f1f1,#e4e4e4);
    border-bottom:1px solid #d2d2d2
}

#topBar ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#topBar li {
    margin: 0;
    padding: 0;
}

#topBar a {
    color: #555555;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    opacity: 0.7;
    padding: 0 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    float: left;
}

#topBar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ee8800;
    opacity: 1;
}

a#login {
    float: right;
}
