{% extends '::base.html.twig' %}

{% block title %}{% block smallTitle %}Welcome!{% endblock %} - Chlorius{% endblock %}

{% block body %}
    {% block header %}
        {% include "ChloriusBundle::header.html.twig" %}
    {% endblock %}
    {% block section %}
        <section id="main">
            {% block main %}{% endblock %}
        </section>
    {% endblock %}
    {% block footer %}
        {% include "ChloriusBundle::footer.html.twig" %}
    {% endblock %}
{% endblock %}



{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/chlorius/css/chlorius2.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/chlorius/js/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ asset('bundles/chlorius/js/chlorius2.js') }}"></script>
{% endblock %}

