{% spaceless %}
    <footer id="footer" class="clearfix">
        <span class="left">left</span>
        <span class="right">right</span>
        <span class="center">center</span>
    </footer>
{% endspaceless %}
