<header id="topBar">
    <ul>
        <li><a id="login" href="/login">Sample</a></li>
        <li><a id="login2" href="/login">Détails</a></li>
        <li><a id="login3" href="/login">Icônes</a></li>
    </ul>
</header>
