{% extends 'ChloriusBundle::chloriusBase.html.twig' %}

{% block smallTitle %}{{ 'Create album'|trans }}{% endblock %}

{% block main %}
    <h1>Create album</h1>

    <form action="{{ path('chlorius_album_new', {'username': username}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Create"/>
    </form>
{% endblock %}
